*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 100vh;
    background-image: url('img.jpg') ;
    align-items: center;
    background-size: cover;
    overflow:hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.overlay{
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    flex-direction: column;
    display: flex;
    background-color: rgba(0, 0, 0,0.7);
}
.title{
color: white;
margin-top: 20px;
text-align: center;
font-size: 2rem;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.col{
    width: 1000px;
    height: 100px;
    display: flex;
    justify-content: center;
    /* border: 2px solid rgb(167, 234, 12); */
    margin: 20px auto;
    color: white;
    margin-top: 20px;
}
.col div{
    width: 250px;
    text-align: center;
}
input{
    height: 50px;
    width: 50%;
    background-color: rgb(236, 230, 219);
    border-radius: 10px;
    border-color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* display: block; */
}